<img src="/assets/img/burger.png" alt="burger">

<h1>Eat-Da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-7" id="nonCol">
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}    
                        <li>
                            <div class="liDev" data-id="{{id}}">{{id}}. {{burger_name}}</div>
                            <button class="liDevBtn" data-id="{{id}}">Devour It</button>
                        </li>
                    {{/unless}}
                {{/each}}
                </ul>
            </div>
            <div class="col-5" id="eatCol">
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            <li>
                                <div class="liEat" data-id="{{id}}">{{id}}. {{burger_name}}</div>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    
        <form class="create-form">
            <div class="form-group" id="burgForm">
                <textarea name="burger" class="form-control" id="burgTextarea" rows="3"></textarea>
            </div>
            <button type="submit" id="newBurg">Submit</button>

            <h6>Enter a burger you want to eat. Click the "Submit" button.</h6>
        </form>
    </div>

